@import url("https://fonts.google.com/specimen/Press+Start+2P");

@font-face {
  font-family: "Press Start 2P";
  src: local("PressStart2P-Regular.ttf"),
    url("../fonts/PressStart2P-Regular.ttf") format("truetype");
}


* {
  user-select: none;
}

body {
  margin: 0;
  background-image: linear-gradient(to top, #f9cb80 0%, #24d0ff 100%);
  overflow-y: hidden;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.score {
  font-family: "Press Start 2P";
  position: absolute;
  font-size: 3vmin;
  top: 5%;
  left: 5%;
}

.lives {
  font-family: "Press Start 2P";
  position: absolute;
  font-size: 3vmin;
  top: 5%;
}

.start-screen {
  font-size: 17px;
  text-align: center;
  font-family: "Press Start 2P";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 25px;
}

.game {
  margin: auto auto;
  position: relative;
  background-image: url(../Assets/bgBeach.png);
  background-size: cover;
  box-shadow: 1px 2px 60px rgba(252, 252, 252, 0.4);
  overflow-x: hidden;
  overflow-y: hidden;
}

.duck {
  margin-left: 5%;
  width: 100px;
  height: 125px;
  position: absolute;
  bottom: 20px;
  background-image: url(../Assets/duckBeach.png);
  background-size: 115%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.parasol {
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: 20px;
  background-image: url(../Assets/parasol.png);
  background-size: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.ball {
  width: 75px;
  height: 110px;
  position: absolute;
  bottom: 20px;
  background-image: url(../Assets/beachBall.png);
  background-size: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.game-over {
  text-align: center;
  font-family: "Press Start 2P";
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.block {
  font-family: "Press Start 2P";
  position: absolute;
  font-size: 3vmin;
  top: 5%;
  right: 5%;
}

a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
